*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-size: 0.8rem;
}

main{
    background-color: #333;
    height: 50rem;
    padding-top: 0.5rem;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    background-color: #333;
}

header img{
    width: 20rem;
    display: flex;
    margin: 20px 0 0 20px;
}

nav{
    background-color: rgb(240, 146, 14);;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin: 20px 20px 0 0;
    border-radius: 1rem;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

nav a:hover{
    color: black;
}

a:hover{
    color: black;
}

article{
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

article div a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 1rem 4rem 1rem 4rem;
}

.ajustarsecao .produto img{
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section div a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 1rem 4rem 1rem 4rem;
}

.ajustarsecao{
    margin: 40px 20px 100px 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}

.produto{
    background-color: rgb(211, 211, 211);
    width: 16rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-radius: 1rem;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
    margin-top: 1rem;
  }
  
  .button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: rgb(240, 146, 14);
  }

  footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(240, 146, 14);
    height: max-content;
  }

  @media(max-width:767px) {
    
    header{
        flex-direction: column;
        align-items: center;
    }

    main{
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 2rem;
    }
    
    .ajustarsecao .produto img{
    width: 60%;
    height: auto;
}

    .ajustarsecao{
        flex-direction: column;
        align-items: center;
        height: max-content;
        margin: 5px 20px 0 20px;
    }
    
  }